* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.calc-container {
    max-width: 450px;
    min-height: 700px;
    max-height: 700px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 1fr 2fr; 
    background-color: #555;
    box-shadow: 0 12px 14px -10px rgba(20, 20, 20, 0.6);
    user-select: none;
}

.display-container {
    text-align: right;
    max-width: 450px;
    background-color: white;
    font-size: 50px;
    display: grid;
    user-select: none;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
    line-height: 115px;
    box-shadow: 0 14px 14px -10px rgba(20, 20, 20, 0.4);
}

.userInput, .result {
    grid-column: 2 / 8;
}

.button-container {
    display: grid;
    grid-template: repeat(4, 1fr) / 2fr 2fr 2fr 1fr 1fr;
    text-align: center;
    line-height: 115px;
    color: white;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;
}

.op {
    background-color: #757575;
}

#del {
    grid-column: 5;
    grid-row: 1 / span 2;
    line-height: 225px;
    background-color: #00BCD4;
    font-size: 25px;
}

#clear {
    grid-column: 5;
    grid-row: 3 / span 2;
    line-height: 225px;
    background-color: #00BCD4;
    font-size: 25px;
}

button:focus {
    outline: 0;
}